@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
main{
    width: 320px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main>img{
    width: 100%;
    height: 30px;
    display: flex;
    margin-top: 33px;
}

h1{
    margin-top: 89.6px;
    color: #2E3339;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    width: 320px;
    height: 27px;
    flex-shrink: 0;
    margin-bottom: 36px;
}
#Email{
    display: flex;
    width: 95px;
    height: 19px;
    flex-direction: column;
    justify-content: center;
    color:#0FA47F;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    position: relative;
    top: 1.5%;
    left: 2%;
    background-color: #FFF;

      
}
input{
    width: 320px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #0FA47F;
    outline: none;
    text-align: start;
    padding-left: 17px;
    background: transparent;
    margin-bottom: 13px;
}
#reC{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 320px;
    height: 79px;
    flex-shrink: 0;
    border: 1px solid #C3C8CF;
    border-radius: 4px;
    margin-bottom: 24px;
    
}
#Caixa{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2;
    border: 2px solid #C1C1C1;
    margin-left: 13px;
    margin-top: 24px;
}
label{
    display: flex;
    width: 112px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 12px;
    margin-top: 28px;
    color: #2E3339;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    
}
#pos-reC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 83px;
    margin-top: 13px; 
    width: 65px;   
}
#reC > p{
    color: #555;
    font-weight: 500;
    line-height: 27px;
    font-style: normal;
    display: flex;
    height: 10px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
#r1{
    width: 60px;
    font-size: 10px;
    margin-left: 1px;
}
#r2{
    width: 65px;
    font-size: 8px;
}
button{
    display: flex;
    width: 320px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    border-radius: 4px;
    background: #0FA47F;
    border: none;
    margin-bottom: 14px;
}
#create{
    width: 320px;
    height: 27px;
    flex-shrink: 0;
    color: #2E3339;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 14px;
}
#create > a{
    color: #0FA47F;
    text-decoration: none;
}
#boxline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 27px;
    flex-shrink: 0;
    color: #2E3339;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}
#line{
    width: 320px;
    height: 1px;
    background:#C3C8CF;
    border-bottom: 1px solid #C3C8CF;
}
#separate{

    width: 40px;
    position: absolute;
    background: #FFF;
   
}
.google{
    margin-top: 17px;
    width: 320px;
    height: 52px;
    display: inline-flex;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 17.2px;
    border-radius: 4px;
    border: 1px solid #C3C8CF;
    margin-bottom: 8px;
}
.google > img{
    display: inline-flex;
    align-items: center;
    margin-left: 17.83px;
}
.microsoft{
    width: 320px;
    height: 52px;
    display: inline-flex;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 17.2px;
    border-radius: 4px;
    border: 1px solid #C3C8CF;
    margin-bottom: 8px;
}
.microsoft > img{
    display: inline-flex;
    align-items: center;
    margin-left: 17.83px;
}




